*{
    margin: 0;
    padding: 0;
}
.heading{
    background-color: #497D74;
    color: #EFE9D5;
    padding: 20px;
    text-align: center;

}
.addBtn{
    padding: 8px 18px;
    background-color: #71BBB2;
    border-radius: 10px;
    color: #27445D;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
body{
    background-color: #EFE9D5;
}

dialog{
   
  padding: 20px;
    background-color: #EFE9D5;
    border: 2px solid #497D74;
    color: #27445D;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
::backdrop
{
    opacity: 0.5;
}
.submitBtn{
    padding: 2px 6px;
    background-color: #71BBB2;
    border-radius: 10px;
    color: #27445D;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.box{
    width: 160px; height: 200px; background-color: #497D74; color: #EFE9D5; padding: 13px; margin: 15px; border-radius: 5px;
    
}
.deleteBtn{
    
    background-color: #EFE9D5;
    border-radius: 3px;
    padding: 2px 8px;
    margin-top: 20px;
    color: #27445D;
}